.top-button {
  @include button(false, rgba($periago-pink, .5), $periago-pink, $white, solid);
}

footer {
  background-color: $periago-orange;
  border-bottom: thick solid $periago-turqoise;
  border-top: medium solid $periago-lime;
  margin-top: 2em;
  padding-bottom: 1em;
  padding-top: 1em;
}

.gk-link {
  border-bottom: 1px solid $black;
  color: $black;

  &:hover {
    border-bottom: 1px solid $glorykidd-blue;
    color: $glorykidd-blue;
  }
}

.footer-cells {
  padding: .5em;
  text-align: center;
}

.community-links {
  @include xy-grid;

  justify-content: center;
  text-align: center;
}

.community-links-div {
  @include xy-cell(4);

  @include breakpoint(medium) {
    @include xy-cell(3);
  }

  @include breakpoint(large) {
    @include xy-cell(2);
  }

  a {
    color: $white;
    font-size: 1.2em;
    justify-content: left;

    :hover {
      color: $periago-lime;
    }
  }

  i {
    background-color: $periago-turqoise;
    border-radius: 50%;
    height: 2em;
    padding-top: .5em;
    width: 2em;
  }

  .fa {
    font-size: 2em;
    text-align: center;
  }
}
