.grid-x-center {
  @include xy-grid(horizontal, true);
  @include xy-gutters(.5em, margin, right left, false);
  justify-content: center;
}

.grid-x-left {
  @include xy-grid(horizontal, true);
  @include xy-gutters(.5em, margin, right left, false);
  justify-content: flex-start;
}

.grid-x-right {
  @include xy-grid(horizontal, true);
  @include xy-gutters(.5em, margin, right left, false);
  justify-content: flex-end;
}

.grid-x-space {
  @include xy-grid(horizontal, true);
  @include xy-gutters(.5em, margin, right left, false);
  justify-content: space-around;
}

.grid-y-center {
  @include xy-grid(vertical, true);
  justify-content: center;
}

.periago-header {
  justify-content: center;
}
