.location-cards {
  @include card-container($periago-orange, $white, 3em, 1px solid rgba($black, .3), 3px, 0 10px 20px rgba($dark-gray, .5));
  @include xy-grid();
}

.location-card-address {
  @extend %small-cell-12;

  a {
    color: $white;
  }
}

.location-card-hours {
  @extend %small-cell-12;
}

.location-cards-offices {
  text-align: center;
}

.location-card-title {
  padding-left: .5em;

  @include breakpoint (small) {
    text-align: center;
  }

  @include breakpoint (medium) {
    text-align: left;
  }
}

.location-card-text {
  @extend %small-cell-12;

  @include breakpoint (medium) {
    @include xy-cell(6, true, 1em, margin, right left, false);
  }
}

.location-card-map-section {

  @include breakpoint (small) {
    @include xy-cell(12, true, 0, margin, right left, false);
    min-height: 20em;
  }

  @include breakpoint (medium) {
    @include xy-cell(6, true, 0, margin, right left, false);
  }
}
