.location-card-container {
  @include xy-grid(horizontal, true);
  justify-content: center;
}

.location-cards {
  @include card-container($periago-orange, $white, 1em, 1px solid rgba($black, .3), 3px, 0 10px 20px rgba($dark-gray, .5));
  @include xy-grid(horizontal, true);
  justify-content: space-around;

  @include breakpoint (small) {
    @include xy-cell(12, true, 1em, margin, right left, false);
    max-width: 100%;
  }

  @include breakpoint (medium) {
    @include xy-cell(12, true, 5em, margin, right left, false);
    max-width: 100%;
    padding-left: 2em;
    padding-right: 2em;
  }
}

.location-cards-offices,
.location-card-title {
  @include xy-cell(12, true, 1em, margin, right left, false);
  text-align: center;
  width: 100%;
}

.location-card-address {
  @include breakpoint (small) {
    @include xy-cell(12, true, 1em, margin, right left, false);
    max-width: 100%;
  }

  @include breakpoint (medium) {
    @include xy-cell(6, true, 1em, margin, right left, false);
    max-width: 50%;
  }
}

.location-card-hours {
  @include breakpoint (small) {
    @include xy-cell(12, true, 1em, margin, right left, false);
    max-width: 100%;
  }

  @include breakpoint (medium) {
    @include xy-cell(4, true, 1em, margin, right left, false);
    max-width: 50%;
  }
}

.location-card-map-section {
  @extend .location-card-address;

  h4 {
    padding-left: .5em;
  }
}
