$menu-hover-lines-transition: all .35s ease;
$menu-hover-lines-border-width: 3px;

.periago-menu {
  @include menu-base;
  @include xy-cell(auto);

// menu-hover-lines
  font-weight: 500;
  justify-content: space-around;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  transition: $menu-hover-lines-transition;

  @include breakpoint(small) {
    @include menu-direction(vertical);
  }

  @include breakpoint(medium) {
    @include menu-direction(horizontal);
  }

  li a {
    color: rgba($body-font-color, .5);
    margin-left: 1rem;
    padding: .75rem 0;
    position: relative;
  }

  li.active > a {
    background-color: transparent;
  }

  a:before,
  a::after {
    background-color: $periago-orange;
    // background-color: $primary-color;
    content: '';
    height: $menu-hover-lines-border-width;
    position: absolute;
    transition: $menu-hover-lines-transition;
    width: 0;
  }

  a::before {
    left: 0;
    top: 0;
  }

  a::after {
    bottom: 0;
    right: 0;
  }

  a:hover,
  li.active > a {
    color: $body-font-color;
    transition: $menu-hover-lines-transition;
  }

  a:hover::before,
  .active a::before,
  a:hover::after,
  .active a::after {
    width: 100%;
  }
}

.title-bar {
  background-color: transparent;
  border-radius: 0 0 2em 2em;
  margin-bottom: 1em;
  margin-top: .2em;

  li {
    font-size: 1.3em;
  }
}

.top-bar {
  background-color: transparent;
  margin-bottom: 1em;
  margin-top: .2em;

  ul {
    background-color: transparent;
  }

  li {
    font-size: 1.3em;
  }

  input {
    margin-right: 1rem;
    width: 200px;
  }
}
