$menu-hover-lines-transition: all .35s ease;
$menu-hover-lines-border-width: 3px;
$periago-banner-hr-width: 13em;
$topbar-font-size: 1em;

.agendar-una-cita {
  @include button(true, rgba($periago-turqoise, .9), rgba($periago-turqoise, .8), $black, solid);
  justify-content: center;

  @include breakpoint (small) {
    @include xy-cell(11);
    margin-top: 1em;
  }

  @include breakpoint (medium) {
    @include xy-cell(5);
  }

  @include breakpoint (large) {
    @include xy-cell(3);
  }

  a {
    color: $white;
    font-size: 1.5em;
  }
}

.location-banner {
  background-color: rgba($periago-pink, .5);
  margin-bottom: 1em;
}

.location-cells {
  @include xy-cell(4, true, 1em, padding, top bottom, null, false);

  text-align: center;

  a {
    color: $white;
  }

  &:hover {
    background-color: rgba($periago-pink, .8);
  }
}

%periago-banner,
.periago-banner {
  @include xy-grid(vertical, true);
  justify-content: center;

  hr {
    border-bottom: .3em solid $periago-lime;

    @include breakpoint (small) {
      width: $periago-banner-hr-width;
    }

    @include breakpoint (medium) {
      width: $periago-banner-hr-width * 2.5;
    }
  }
}

.periago-banner-index {
  @extend %periago-banner;

  max-height: 1000px;

  @include breakpoint (small) {
    height: 70vh;
  }

  @include breakpoint (medium) {
    height: 80vh;
  }

  @include breakpoint (large) {
    height: 80vh;
  }
}

.periago-bar {
  background-color: $periago-turqoise;
  background-image: url('../../../../assets/img/periago-multi-banner.png');
  background-repeat: repeat-x;
  border-bottom: thick solid $periago-turqoise;
  border-top: .2em solid $periago-lime;
  margin-bottom: 2em;

  @include breakpoint (small) {
    background-position: 50% 45%;
    background-size: auto 160%;
  }

  @include breakpoint (medium) {
    background-position: 50% 40%;
    background-size: auto 130%;
  }

  @include breakpoint (large) {
    background-position: 50% 40%;
    background-size: auto 120%;
  }

  .menu-icon {
    margin-bottom: .25em;
    margin-top: .25em;
    opacity: .5;
  }

  &.index {
    @include breakpoint (small) {
      background-position: 50% -3.5em;
      background-size: auto 120%;
    }

    @include breakpoint (medium) {
      background-position: 50% auto;
      background-size: auto 120%;
    }

    @include breakpoint (large) {
      background-position: 50% 2em;
      background-size: auto 100%;
    }
  }
}

.periago-logo {
  @include xy-cell(auto);
  // background-color: rgba($black, .8);

  img {
    margin-bottom: 1em;
    margin-top: 2em;
    max-height: 10em;

    @include breakpoint(medium) {
      padding-top: 1em;
    }

    @include breakpoint(large) {
      margin-top: 2em;
    }
  }
}

.periago-menu {
  @include menu-base;
  @include xy-cell(auto);

  font-weight: 500;
  justify-content: space-around;
  letter-spacing: 1px;
  max-width: 1000px;
  text-align: center;
  text-transform: uppercase;
  transition: $menu-hover-lines-transition;

  @include breakpoint(small) {
    @include menu-direction(vertical);
  }

  @include breakpoint(medium) {
    @include menu-direction(horizontal);
  }

  li a {
    color: rgba($body-font-color, .5);
    position: relative;
  }

  li.active > a {
    background-color: transparent;
  }

  a::before,
  a::after {
    background-color: $periago-lime;
    content: '';
    height: $menu-hover-lines-border-width;
    position: absolute;
    transition: $menu-hover-lines-transition;
    width: 0;
  }

  a::before {
    left: 0;
    top: 0;
  }

  a::after {
    bottom: 0;
    right: 0;
  }

  a:hover,
  li.active > a {
    color: $body-font-color;
    transition: $menu-hover-lines-transition;
  }

  a:hover::before,
  .active a::before,
  a:hover::after,
  .active a::after {
    width: 100%;
  }
}

.periago-menu-banner {
  @extend %grid-x-center;
  background-color: rgba($black, .8);
  margin-bottom: 2em;
}

.periago-subtitle {
  @include xy-cell(100%);

  color: $white;
  margin-bottom: .5em;
  text-align: center;

  h4 {
    padding-bottom: 1em;
  }
}

.schedule-appointment {
  justify-content: center;

  a {
    @include button(false, rgba($white, .7), $white, $black, solid);
    font-size: 1.2em;
    line-height: 1.1;
  }
}

.title-bar {
  background-color: $periago-orange;

  li {
    font-size: 1.3em;
  }
}

.top-bar {
  background-color: $periago-orange;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-top: .2em;

  ul {
    background-color: $periago-orange;
  }

  li {
    @include breakpoint (medium) {
      font-size: $topbar-font-size;
    }

    @include breakpoint (large) {
      font-size: $topbar-font-size + .2em;
    }

    @include breakpoint (xlarge) {
      font-size: $topbar-font-size + .3em;
    }

    @include breakpoint (xxlarge) {
      font-size: $topbar-font-size + .6em;
    }
  }

  input {
    margin-right: 1rem;
    width: 200px;
  }
}
