$card-team-profile-bg: $card-background;
$card-team-profile-text-color: $body-font-color;

.card-team-profile {
  @include card-container($card-team-profile-bg, $card-team-profile-text-color, 1rem, $global-radius);
  border-bottom: .5em solid $periago-turqoise;
  margin-bottom: 1.5em;
  position: relative;
  z-index: 0;

  @include breakpoint (small) {
    @include xy-cell(12, true, 1em, margin, right left, false);
    max-width: 100%;
  }

  @include breakpoint (medium) {
    @include xy-cell(6, true, 1em, margin, right left, false);
    max-width: 50%;
  }

  @include breakpoint (large) {
    @include xy-cell(3, true, 1.5em, margin, right left, false);
    max-width: 33.3%;
  }
}

.card-team-profile-actions {
  @include card-divider;
  background: $card-team-profile-bg;
  display: flex;
}

.card-team-profile-avatar {
  bottom: 100%;
  left: 1rem;
  max-width: rem-calc(90);
  position: absolute;
  z-index: 2;

  img {
    border-radius: 50%;
    box-shadow: 0 0 15px rgba($black, .3);
  }
}

.card-team-profile-blank {
  background-color: $periago-orange;
  height: 7em;
  max-width: 100%;
  padding-top: 1em;
  transition: all .25s ease;
}

.card-team-profile-button {
  flex: 1 0 0;
  margin-bottom: 0;

  + .card-team-profile-button {
    margin-left: 1rem;
  }
}

.card-team-profile-content {
  position: relative;

  &::before {
    border-color: transparent transparent transparent $card-team-profile-bg;
    border-style: solid;
    border-width: rem-calc(55) 0 0 rem-calc(500);
    content: '';
    height: 0;
    left: rem-calc(-30);
    position: absolute;
    top: rem-calc(-55);
    width: 0;
    z-index: 0;
  }
}

.card-team-profile-img {
  background-color: $periago-orange;
  max-width: 100%;
  padding-top: 1em;
  transition: all .25s ease;
}

.card-team-profile-info {
  font-size: .875rem;
  letter-spacing: 1px;
  opacity: .8;
}

.card-team-profile-name {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 0;
}

.card-team-profile-status {
  border-bottom: .25em solid $periago-lime;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: .5em;
  padding-left: 1em;
  text-transform: uppercase;
}

.team-callout {
  background-color: $periago-orange;
  border: .1em solid rgba($black, .5);
  margin-bottom: 1em;
  margin-top: 1em;
  padding-top: 2em;

  h3 {
    color: $white;
    font-size: 2em;
    padding-bottom: .3em;
    padding-top: .3em;
  }
}
