.after-title {
  @extend %card-team-profile-name;
  border-bottom: .25em solid $periago-lime;
}

.before-title {
  @extend %card-team-profile-name;
  border-top: .25em solid $periago-lime;
}

.before-after-image {
  margin-bottom: 1em;
  margin-top: 1em;
}

.testimonial-profile {
  @extend %card-team-profile;
  box-shadow: 4px 6px 10px rgba($black, .4);
  padding: 1em;
}

.testimonial-profile-actions {
  @extend %card-team-profile-actions;
}

.testimonial-profile-avatar {
  @extend %card-team-profile-avatar;
}

.testimonial-profile-blank {
  @extend %card-team-profile-blank;
}

.testimonial-profile-button {
  @extend %card-team-profile-button;
}

.testimonial-profile-content {
  @extend %card-team-profile-content;
}

.testimonial-profile-img {
  @extend %card-team-profile-img;
}

.testimonial-profile-info {
  @extend %card-team-profile-info;
  border-top: .25em solid $periago-lime;
  margin-bottom: 1em;
}

.testimonial-profile-name {
  @extend %card-team-profile-name;
  z-index: 2;
}

.testimonial-profile-status {
  @extend %card-team-profile-status;
}

.testimonial-callout {
  @extend %team-callout;
}
