<div class="grid-x-space testimonial-callout">
  <div class="testimonial-profile">
    <div class="testimonial-profile-content">
      <div class="before-after-image">
        <!-- <img src="{{root}}assets/img/before-after/Briahna.jpg" alt="Profile photo of Stacy Jamison Thorn" /> -->
      </div>
      <div class="before-title">Before</div>
      <div class="after-title">After</div>
      <div class="before-after-image">
        <!-- <img src="{{root}}assets/img/before-after/Briahna.jpg" alt="Profile photo of Stacy Jamison Thorn" /> -->
      </div>
    </div>
  </div>
</div>
