<div class="grid-x-space testimonial-callout">
  <div class="card-team-profile">
    <div class="card-team-profile-blank"></div>
    <div class="card-team-profile-content card-section">
      <div class="card-team-profile-avatar">
        <img src="{{root}}assets/img/headshots/stacy-thorn-25.jpg" alt="Profile photo of Stacy Jamison Thorn" />
      </div>
      <p class="card-team-profile-name">Stacy Jamison Thorn</p>
      <p class="card-team-profile-status">Practice Administrator</p>
      <p class="card-team-profile-info">Stacy has had a career in dentistry since 1994. She attended Ivy Tech and Indiana University Southeast. She is married to Brad and they have two boys Connor and Cooper. In her spare time she enjoys outdoor activities and any way she can be creative. Stacy also has a cat named Ruby. She loves orthodontics!!</p>
    </div>
  </div>
</div>
