<form action="process.php" class="contact-form-container" method="POST" >

  <div class="grid-x-space">
    <div class="contact-form-title">
      <h3>
        Drop us a line 
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
      </h3>
    </div>

    <div class="contact-form-cell">
      <label for="contact-name">Name / Nombre</label>
      <input id="contact-name" name="ContactName" type="text" placeholder="Enter Your Name" />
      
      <label for="contact-patient-name">Patient's Name / Nombre del Paciente</label>
      <input id="contact-patient-name" name="PatientName" type="text" placeholder="Patient's name (if different)" />

      <label for="contact-patient-age">Patient's Age / Edad del Paciente</label>
      <input id="contact-patient-age" name="PatientAge" type="text" placeholder="Patient's age" />
      
      <label for="contact-phone">Phone / Teléfono</label>
      <input id="contact-phone" name="ContactPhone" type="text" placeholder="Contact Number" />

      <label for="contact-email">Email</label>
      <input id="contact-email" name="ContactEmail" type="text" placeholder="Contact Email" />
    </div>

    <div class="contact-form-cell">
      <label for="contact-reasons">Reason for Appointment / Razón por la Cita </label>
      <textarea id="contact-reasons" name="ContactMessage" rows="6" placeholder="Enter description of patient's needs"></textarea>
      
      <div class="callout">
        <div class="g-recaptcha" id="html_element"></div>
        <p><br /><button type="submit" class="success button">Submit / Enviar</button></p>
      </div>
    </div>

  </div>
</form>
