<form action="process.php" class="contact-form-container" method="POST" >
  <div class="grid-x-space">
    <div class="contact-form-title">
      <h3>
        Drop us a line 
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
      </h3>
    </div>

    <div class="contact-form-cell">
      <label>Your Name</label>
      <input name="ContactName" type="text" placeholder="Enter Your Name" />
      
      <label>Patient's Name</label>
      <input name="PatientName" type="text" placeholder="Patient's name (if different)" />
      
      <label>Phone Number</label>
      <input name="ContactPhone" type="text" placeholder="Contact Number" />

      <label>Email Address</label>
      <input name="ContactEmail" type="text" placeholder="Contact Email" />
    </div>

    <div class="contact-form-cell">
      <label>How Can We Help?</label>
      <textarea name="ContactMessage" rows="6" placeholder="Enter description of patient's needs"></textarea>
      
      <div class="callout">
        <div class="g-recaptcha" id="html_element"></div>
        <p><br /><button type="submit" class="success button">Send Email</button></p>
      </div>
    </div>
  </div>
</form>
