<div class="grid-x-center">
  
<div class="article-contents">
  <h4>What to Do in Case of a Problem with your Braces</h4>
  <p>Call our office as soon as possible during regular business hours if you break or loosen any of your
  appliances. Please do not come directly to the office – by calling us, you will allow us to create a time to
  see you. Even if you have a regular appointment scheduled, call us immediately to notify us if you need
  an appliance repaired.</p>
  
  <h4>Loose Brackets or Bands</h4>
  <p>Call our office during regular business hours for advice if a bracket or wire is loosened. The bracket may
  need to be re-fitted as soon as possible. If you need to cut a wire in while at home, you may use clean
  craft clippers or fingernail clippers. Please call our office the next day during regular business hours so
  that we may schedule an appointment for you.</p>
  
  <h4>Wire Irritations</h4>
  <p>Sometimes discomfort caused by a wire on your braces can be resolved by moving the wire away from
  the irritated area with a cotton swab or clean pencil eraser. If the wire will not move, try covering the
  end of it with a small piece of cotton or a small amount of wax. Sometimes you will need to dry the area
  before with a cotton swab before you apply the wax so the wax will stick. If the wire is painful, you can
  cut it with nail clippers or scissors that have been washed. If you cannot resolve the wire irritation, call
  our office during regular business hours for an appointment.</p>
  
  <h4>Lost Separators</h4>
  <p>Most patients lose a separator during their treatment. Do not worry about losing a separator, but call
  our office during regular business hours to see if it needs to be replaced.</p>
  
  <h4>Discomfort with Orthodontic Treatment</h4>
  <p>During the first week after your braces are in place and routine adjustments are complete, you will likely
  feel some soreness or discomfort. While adjusting to your new braces, you may take the same pain
  reliever that your family doctor recommends for a headache. A warm wash cloth or heating pad may
  reduce the soreness in your jaws.</p>
  
  <h4>Accident involving a chipped, or knocked out tooth</h4>
  <p>Most accidents involving a slight chip to a tooth is best handled initially by your general dentist.
  However if you are in active orthodontic treatment and experience severe trauma to the teeth resulting
  in tooth mobility, please call our office immediately. If it is not during business hours please leave a
  message on the emergency line and your call will be returned by Dr. Periago.</p>
  <p>Please see the following links for some helpful videos for taking care of problems that may arise while in
  your braces:
  <a href="http://www.bracesquestions.com">www.bracesquestions.com</a></p>
</div>


  <div class="cell small-12 medium-6">
    <div class="responsive-embed widescreen">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ZVMVqvdEl-M?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

</div>
