
<div class="community-grid">
  <div class="community-header">Make sure to follow us on Facebook and Instagram!</div>
   <div class="community-cells">
    <a href="https://www.facebook.com/periagoortho" alt="Facebook Link" target="_blank">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>  
  </div>
  
  <div class="community-cells">
    <a href="https://www.instagram.com/periagoortho/" alt="Instagram Link" target="_blank">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
  </div>
</div>
