<div class="grid-x-center">
  <div class="article-contents">
    <p>We understand that most people are genuinely concerned about their financial resources and an investment in orthodontic treatment. First and foremost we do not want finances to stand in the way of our patients and potential patients achieving the beautiful smile that they deserve. Understandably, braces are an investment, and we would love for you to know the many ways that our patients benefit from this investment.</p>
    <p>We provide exceptional orthodontic care to all of our patients. Because Dr. Periago strives to be the best that she can and provide the best treatment for her patients, she invests in very high quality orthodontic products. We are always concerned with what is best for our patients. We are committed to an excellent orthodontic experience that exceeds all expectations, including less patient discomfort. Because of our desire for patients to finish treatment with better results we use costly archwires that place more gentle forces on the teeth leading to less patient discomfort and more precise tooth movement. We also use braces that are not only manufactured with the highest standards of quality but are also as comfortable and esthetic as possible.</p>
    <p>Our Treatment Fee Includes:</p>
    <ul>
      <li>The initial orthodontic examination and all periodic observation visits prior to the start of therapy, the treatment plan and the consultation to discuss our findings, all the orthodontic materials, appliances and appointments (including most emergencies) during the time in braces. Initial retainers after debanding and 12 months of follow-up retainer visits.</li>
      <li>Reports to your dentist before, during and after the completion of treatment.</li>
      <li>Verbal treatment updates at each visit when possible as to the progress of the treatment and the status of the oral hygiene.</li>
    </ul>
    <p>Because every mouth is different and cases range from relatively straight forward to very difficulty, we always quote customized fees. The difficulty of treatment depends on the severity of the patient’s problem. At your initial consultation you will be able to discuss fees and payment options with our Financial Coordinators before treatment begins. We have payment plans to suit different budgets, including a no-down-payment option. We also accept assignment from most insurance plans, and we’ll file the necessary papers to your insurance company. We work hard to make orthodontics affordable so that everyone can live life smiling.</p>

    <h5>Payment Options</h5>
    <p>In an effort to keep orthodontic fees down while maintaining the highest level of professional care, we offer the following financial arrangements:</p>
    <ul>
      <ul>
        <li>If full payment is made at the onset of treatment, we will offer an overall fee discount.</li>
        <li>Down payment with monthly payments and no interest charged.</li>
        <li>Electronic Payment (credit card or bank account). For your convenience automatic monthly payments are available either through your credit card or bank account.
        <a href="{{root}}assets/docs/electronic-payment-authorization.pdf">Click here</a> for of our electronic payment authorization form. You can print it, fill it out and bring it with you to the next appointment!</li>
      </ul>
    </ul>

    <h5>Insurance</h5>
    <p>In many cases, patients will have some type of orthodontic insurance, which will usually cover a part of the treatment fee. If you have insurance, we will be happy to help you to determine the coverage available. If you would like to assign your insurance benefit, we will be able to structure a payment plan for the balance. Ultimately, any unpaid balance will be the patient’s responsibility to pay. Professional care is provided to you, our patient, and not to an insurance company. Thus, the insurance company is responsible to the patient and the patient is responsible to the doctor. We will help in every way we can in filing your claim and handling insurance questions from our office on your behalf.</p>
    <p>It’s important that people get the orthodontic care they need when they need it. Orthodontics is an investment for the future… a future of improved dental health and appearance. Our goal is not only to meet all of your expectations, but to exceed your expectations in all areas of our service.</p>
  </div>
</div>
