<div class="grid-x-center">
  <h2>Floyds Knob Office</h2>
</div>

<div class="grid-x-left">

  <h4>Address</h4>
  <h5>Periago Orthodontics</h5>
  <p>800 Highlander Point Dr# 201<br>
  Floyds Knobs, IN 47119<br>
  <a href="https://goo.gl/maps/ADHeQzux1g52" target="_blank">View Larger Map and Directions</a></p>
  <p><strong>Tel:</strong> (812) 923-9877</p>

  <h4>Office Hours</h4>
  <p>Monday — Thursday: 8:30am — 5:00pm<br>
  Friday— Sunday: Closed</p>

  <h4>Map &amp; Directions</h4>
  <p><iframe class="pictureborder" style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3130.4255998999274!2d-85.90285928475743!3d38.315974079664485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88696a3a64cb5ac9%3A0xd6aca05959020ac9!2s800+Highlander+Point+Dr+%23201%2C+Floyds+Knobs%2C+IN+47119!5e0!3m2!1sen!2sus!4v1488651075832" width="485" height="400" frameborder="0" allowfullscreen=""></iframe></p>

</div>
