<footer>
  <div class="grid-x-center">
    <a class="top-button show-for-small-only" href="#top">Back to Top</a>
  </div>

  <div class="community-links">
    <div class="community-links-div">
      <a href="https://www.facebook.com/periagoortho" alt="Facebook Link" target="_blank">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
    </div>

    <div class="community-links-div">
      <a href="https://www.instagram.com/periagoortho/" alt="Instagram Link" target="_blank">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <div class="grid-x-center">
    <div class="footer-cells">
      &copy; 2017 Periago Orthodontics
    </div>
  </div>
  <div class="grid-x-center">
    <div class="footer-cells">
      Crafted by 
      <a class="gk-link" href="https://www.glorykidd.com" target="_blank">GloryKidd Technologies<i class="fa fa-angle-double-right fa-fw"></i>
      </a>
    </div>
  </div>
</footer>
