<div class="article-callout">
  <!-- <div class="grid-x-center">
    <h3>Life with Braces</h3>
  </div> -->
  
  <div class="grid-x-left">
  
    <h5>Eating with Braces</h5>
    <p>What can you eat? Let’s talk about what you shouldn’t eat! If you’ve been wanting to drop a few pounds, the first week wearing braces is just your chance! For the first day or so, stick to soft foods. Avoid tough meats, hard breads, and raw vegetables. Before long, you’ll be able to bite a cucumber again. But you’ll need to protect your orthodontic appliances when you eat for as long as you’re wearing braces.</p>
  
    <h5>Foods to Avoid</h5>
    <img class="" src="{{root}}assets/img/braces-101/life-with-braces.jpg" alt="Life with Braces">
    <ul>
      <li>Chewy foods: bagels, hard rolls, licorice</li>
      <li>Crunchy foods: popcorn, ice, chips</li>
      <li>Sticky foods: caramels, gum</li>
      <li>Hard foods: nuts, candy</li>
      <li>Foods you have to bite into: corn on the cob, apples, carrots</li>
      <li>Chewing on hard things (for example, pens, pencils, or fingernails) can damage the braces. Damaged braces will cause treatment to take longer.</li>
    </ul>
  
    <h5>General Soreness</h5>
    <p>When you get your braces on, you may feel general soreness in your mouth and teeth may be tender to biting pressures for three to five days. This can be relieved by rinsing your mouth with a warm salt water mouthwash. Dissolve one teaspoonful of salt in 8 ounces of warm water and rinse your mouth vigorously. If the tenderness is severe, take aspirin or whatever you normally take for headache or similar pain. The lips, cheeks, and tongue may also become irritated for one to two weeks as they toughen and become accustomed to the surface of the braces. You can put wax on the braces to lessen this. We’ll show you how!</p>
  
    <h5>Loosening of Teeth</h5>
    <p>This is to be expected throughout treatment. Don’t worry! It’s normal. Teeth must loosen first so they can be moved. The teeth will again become rigidly fixed in their new — corrected — positions.</p>
  
    <h5>Loose Wire or Band</h5>
    <p>Don’t be alarmed if a wire or band comes loose. This happens occasionally. If a wire protrudes and is irritating, use a blunt instrument (the back of spoon or the eraser end of a pencil) and carefully, gently push the irritating wire under the archwire. Simply get it out of the way. If irritation to the lips or mouth continues, place wax or wet cotton on the wire to reduce the annoyance. Call our office as soon as possible for an appointment to check and repair the appliances. If any piece comes off, save it and bring it with you to the office.</p>
  
    <h5>Care of Appliances</h5>
    <p>To successfully complete the treatment plan, the patient must work together with the orthodontist. The teeth and jaws can only move toward their corrected positions if the patient consistently wears the rubber bands, headgear, or other appliances as prescribed. Damaged appliances lengthen the treatment time.</p>
  
    <h5>Brushing</h5>
    <p>It’s more important than ever to brush and floss regularly when you have braces so the teeth and gums are healthy after orthodontic treatment. Patients who do not keep their teeth clean may require more frequent visits to the dentist for a professional cleaning. Adults who have a history of gum disease should also see a periodontist during orthodontic treatment.</p>
  
    <h5>Athletics</h5>
    <p>If you play sports, it’s important that you consult us for special precautions. A protective mouth guard is advised for playing contact sports. In case of any accident involving the face, check your mouth and the appliances immediately. If teeth are loosened or the appliances damaged, phone at once for an appointment. In the meantime, treat your discomfort as you would treat any general soreness.</p>
  
  </div>
</div>
