<!-- <div class="team-callout"> -->
  <div class="grid-x-space team-callout">

    <div class="card-team-profile">
      <div class="card-team-profile-blank"></div>
      <div class="card-team-profile-content card-section">
        <div class="card-team-profile-avatar">
          <img src="{{root}}assets/img/headshots/stacy-thorn-25.jpg" alt="Profile photo of Stacy Jamison Thorn" />
        </div>
        <p class="card-team-profile-name">Stacy Jamison Thorn</p>
        <p class="card-team-profile-status">Practice Administrator</p>
        <p class="card-team-profile-info">Stacy has had a career in dentistry since 1994. She attended Ivy Tech and Indiana University Southeast. She is married to Brad and they have two boys Connor and Cooper. In her spare time she enjoys outdoor activities and any way she can be creative. Stacy also has a cat named Ruby. She loves orthodontics!!</p>
      </div>
    </div>

    <div class="card-team-profile">
      <div class="card-team-profile-blank"></div>
      <div class="card-team-profile-content card-section">
        <div class="card-team-profile-avatar">
          <img src="{{root}}assets/img/headshots/melissa-coffman-23.jpg" alt="Profile photo of Melissa Coffman">
        </div>
        <p class="card-team-profile-name">Melissa Coffman</p>
        <p class="card-team-profile-status">Treatment Coordinator</p>
        <p class="card-team-profile-info">Melissa has been working for Dr. Periago since 2014, and has had a career in dentistry since 2008. She moved to Southern Indiana from Virginia Beach in 2012 with her husband, Nick. Together they have 2 children, Blake and Lucy, and a Labrador named Remi. She spends her spare time getting involved in her kid's activities, being creative in any way she can, and enjoys event planning. Melissa is passionate about her work, and is so excited about all we have to offer you!</p>
      </div>
    </div>

    <div class="card-team-profile">
      <div class="card-team-profile-blank"></div>
      <div class="card-team-profile-content card-section">
        <div class="card-team-profile-avatar">
          <img src="{{root}}assets/img/headshots/destiny-hines-105.jpg" alt="Profile photo of Destiny Hines">
        </div>
        <p class="card-team-profile-name">Destiny Hines</p>
        <p class="card-team-profile-status">Front Office Coordinator</p>
        <p class="card-team-profile-info">Destiny has been in orthodontics since 2008. She has been married to Jeremy since 2009 and they have two beautiful daughters Kelsey and Brooke. She enjoys spending time with family, reading, exercising and sharing smiles.</p>
      </div>
    </div>

    <div class="card-team-profile">
      <div class="card-team-profile-blank"></div>
      <div class="card-team-profile-content card-section">
        <div class="card-team-profile-avatar">
          <img src="{{root}}assets/img/headshots/ashley-cress-102.jpg" alt="Profile photo of Ashley Cress">
        </div>
        <p class="card-team-profile-name">Ashley Cress</p>
        <p class="card-team-profile-status">Orthodontic Technician</p>
        <p class="card-team-profile-info">Ashley has had a career in Orthodontics since 2007. She is married to Amos, they have 2 sons Blake &amp; Larkin. She enjoys being with her family, friends, farming, &amp; hunting.</p>
      </div>
    </div>

    <div class="card-team-profile">
      <div class="card-team-profile-blank"></div>
      <div class="card-team-profile-content card-section">
        <div class="card-team-profile-avatar">
          <img src="{{root}}assets/img/headshots/jennifer-day-3.jpg" alt="Profile photo of Jennifer Day">
        </div>
        <p class="card-team-profile-name">Jennifer Day</p>
        <p class="card-team-profile-status">Orthodontic Technician</p>
        <p class="card-team-profile-info">Jennifer has had a career in Orthodontics since 1996. She has a Bachelor of Science degree in General Studies with a minor in psychology from Indiana University Southeast. She has been married to Craig since 2007 and they have three children: Shelby, Isaiah, and Emmett. She also has a dog named Lilly. She loves her patients and their families just like they are hers!</p>
      </div>
    </div>    

    <div class="card-team-profile">
      <div class="card-team-profile-blank"></div>
      <div class="card-team-profile-content card-section">
        <div class="card-team-profile-avatar">
          <img src="{{root}}assets/img/headshots/kerry-hines-13.jpg" alt="Profile photo of Kerry Hines">
        </div>
        <p class="card-team-profile-name">Kerry Hines</p>
        <p class="card-team-profile-status">Orthodontic Technician</p>
        <p class="card-team-profile-info">Kerry has had the honor of working in the exciting field of Orthodontics since 1998. She finds great joy in developing relationships with patients, while helping them achieve a confident, beautiful smile. Being a part of a team that puts patients first and strives to make a difference is what she loves most about her job. Outside the office you will find Kerry at the gym or spending quality time with family and friends.</p>
      </div>
    </div>

    <div class="card-team-profile">
      <div class="card-team-profile-blank"></div>
      <div class="card-team-profile-content card-section">
        <div class="card-team-profile-avatar">
          <img src="{{root}}assets/img/headshots/nikki-davis-18.jpg" alt="Profile photo of Nikki Davis">
        </div>
        <p class="card-team-profile-name">Nikki Davis</p>
        <p class="card-team-profile-status">Orthodontic Technician</p>
        <p class="card-team-profile-info">Nikki has worked in the dental field since 1993. She has experience in General dentistry, Pediatrics and Orthodontics. She loves spending time with her two fabulous daughters Hannah and Bailie. A lovable dog, Macy. And her best friend for life Patrick.</p>
      </div>
    </div>    

  </div>
<!-- </div> -->
