<div class="grid-container">
  <div class="title-bar grid-x show-for-small-only" data-responsive-toggle="periago-menu">
    <button alt="Menu Button" class="menu-icon dark" type="button" data-toggle></button>
  </div>

  <nav class="top-bar grid-x" id="periago-menu">
    <ul class="periago-menu">
      <li><a href="{{root}}/index.html">Home</a></li>
      <li><a href="{{root}}/faq.html">FAQ</a></li>
      <li><a href="{{root}}/about.html">About</a></li>
      <li><a href="{{root}}/contact.html">Contact</a></li>
    </ul>
  </nav>
</div>
