<div class="grid-container periago-bar">
  <div class="title-bar grid-x show-for-small-only" data-responsive-toggle="periago-menu">
    <button alt="Menu Button" class="menu-icon dark" type="button" data-toggle></button>
  </div>

  <nav class="top-bar grid-x" id="periago-menu">
    <ul class="periago-menu">
      <li><a href="{{root}}/index.html">Home</a></li>
      <li><a href="{{root}}/braces-101.html">Braces 101</a></li>
      <li><a href="{{root}}/faq.html">FAQ</a></li>
      <li><a href="{{root}}/about.html">About Us</a></li>
      <li><a href="{{root}}/contact.html">Contact</a></li>      
    </ul>
  </nav>
</div>
<div class="grid-container expanded periago-banner">
  <div class="grid-x-center">
    <img class="periago-logo hide-for-small-only" alt="Periago Logo" src="{{root}}/assets/img/periago-banner-logo.svg">
    <img class="periago-logo show-for-small-only" alt="Periago Logo" src="{{root}}/assets/img/periago-square-logo.svg">
  </div>
  <!-- <div class="grid-x-center">
    <h2>Periago Orthodontics</h2>
  </div> -->
  <div class="grid-x-center ">
    <h3>We love to make you smile!</h3>
  </div>
</div>