<div class="title-bar grid-x show-for-small-only" data-responsive-toggle="periago-menu">
  <button alt="Menu Button" class="menu-icon dark" type="button" data-toggle></button>
</div>

<nav class="top-bar grid-x-space" id="periago-menu">
  <ul class="periago-menu">
    <li><a href="{{root}}/index.html">Home</a></li>
    <li><a href="{{root}}/about.html">About</a></li>
    <li><a href="{{root}}/information.html">Information</a></li>
    <li><a href="{{root}}/new-patient-information.html">New Patients</a></li>
    <li><a href="{{root}}/contact.html">Contact</a></li>
    <li><a href="{{root}}/espanol.html">(En Español)</a></li>    
  </ul>
</nav>
