<div class="periago-menu-banner">
  <div class="periago-logo">
    <img class="hide-for-small-only" alt="Periago Logo" src="{{root}}/assets/img/periago-banner-logo.svg">
    <img class="show-for-small-only" alt="Periago Logo" src="{{root}}/assets/img/periago-square-logo.svg">
    <div class="periago-subtitle">
      <h3>Danielle Limeberry Periago, DMD, MS</h3>
    </div>
    <hr>
  </div>
  <div class="periago-subtitle">
    <h4>We love to make you smile!</h4>
  </div>
  <div class="schedule-appointment">
    <a href="{{root}}/contact.html">Schedule Your Complimentary<br>Initial Exam</a>
  </div>
</div>
