<div class="location-cards">
  <div class="location-card-title">
    <h3>New Albany Office</h3>
  </div>

  <div class="location-card-address">
    <h4>Address</h4>
    <p>
      Periago Orthodontics<br>
      3007B Charlestown Crossing Way<br>
      New Albany, IN 47150<br>
      <a href="tel:+1-812-944-5595"><strong>Tel: </strong>(812) 944-5595</a><br>
    </p>
  <!-- </div>

  <div class="location-card-hours"> -->
    <h4>Office Hours</h4>
    <p>Monday — Thursday: 8:30am — 5:00pm<br>
    Friday— Sunday: Closed</p>
  </div>

  <div class="location-card-map-section">
    <h4>Map &amp; Directions</h4>
    <div class="responsive-embed">
      <iframe class="pictureborder" style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12515.700330117317!2d-85.797284!3d38.35071600000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1b5879a9f7fb4139!2sPeriago+Orthodontics+LLC!5e0!3m2!1sen!2sus!4v1417486319031" width="485" height="400" frameborder="0"></iframe>
    </div>
  </div>

</div>
