<div class="location-cards" id="corydon-location">
  <div class="location-card-text">
    <div class="location-card-title">
      <h3>Corydon Office</h3>
    </div>
    
    <div class="location-card-address">
      <h4>Address</h4>
      <p>
        Periago Orthodontics<br>
        1985 Edsel Ln.<br>
        Corydon, IN 47112<br>
        <a href="tel:+1-812-738-7273">
          <strong>Tel: </strong>(812) 738-7273
        </a>
        <br>
        <strong>Fax:</strong> (812) 944-5808
      </p>
    </div>
    <div class="location-card-hours">
      <h4>Office Hours</h4>
      <p>Monday — Thursday: 8:30am — 5:00pm<br>
      Friday— Sunday: Closed</p>
    </div>
  </div>

  <iframe class="location-card-map-section pictureborder" style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3134.1106052344253!2d-86.1347919!3d38.2305407!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8869364ac9a37253%3A0x2fc44a66555de6eb!2s1985+Edsel+Ln+NW%2C+Corydon%2C+IN+47112!5e0!3m2!1sen!2sus!4v1417486564394" frameborder="0" >
  </iframe>

</div>
