<div class="grid-x-center">

  <div class="article-content-image">
    <img class="" src="{{root}}assets/img/braces-101/oral-care.jpg" alt="oral care">
  </div>
  <div class="article-content-partition">
    <p>The best way to ensure a beautiful and healthy smile while in braces is through proper brushing and flossing. Plaque that accumulates on teeth can ultimately result in scarring of teeth, decay and gum disease. Dr. Periago and her staff will thoroughly instruct you on proper oral hygiene technique when you have your braces placed.</p>

    <h4>Brushing</h4>
    <p>It is important that while you are in braces that you brush your teeth after every meal…even after snacks. It is important that you pay close attention to thoroughly clean all tooth surfaces paying special attention around the bracket. It is imperative that you brush above the bracket and at the gumline thouroughly. This is the most common spot that white spots or scars are found when braces are removed</p>

    <h4>Flossing</h4>
    <p>For areas between the teeth that a toothbrush can’t reach, use dental floss to remove food particles and plaque. Flossing takes more time and patience when you are wearing braces, but it is important to floss your teeth every day. Dr. Periago also recommends an air flosser for tough to reach spots. Flossing your gums will decrease swelling that can occur around brackets and attachments and should be done every evening before going to bed.</p>

  </div>
</div>
