<div class="grid-x-center">
  <div class="article-content-image">
    <img src="{{roots}}assets/img/images/our-philosophy.jpg" alt="Our Philosopy">
  </div>
  
  <div class="article-content-partition">
    
    <p>Why do patients love Periago Orthodontics? It’s because our patients are our number one priority!</p>
    <ul>
      <li>At Periago Orthodontics we are committed to providing all of our patients and family members with the warmest, friendliest, and most exceptional orthodontic experience possible!</li>
      <li>At Periago Orthodontics you will receive outstanding and individually customized orthodontic treatment. As no two people are alike, no two mouths are alike. Every patient has a thoroughly studied, well diagnosed and individually tailored treatment plan.</li>
      <li>At Periago Orthodontics we go beyond the golden rule. We always strive to treat everyone in the exact manner that we would want ourselves and our children to be treated.</li>
      <li>At Periago Orthodontics we think of ourselves as one big family and continually excel at making all of our patients and their family (and even friends!) , feel like a part of the family, not outsiders.</li>
      <li>At Periago Orthodontics you are not just another number. You will always be called by name and will be treated as the unique person that you are with individual needs and feelings.</li>
    </ul>
  </div>
</div>
