<div class="grid-x-center">
  <h3>Outside Resources</h3>
</div>
<img class="" src="{{root}}assets/img/ortho-info/resources.jpg" alt="Resources">

<div class="grid-x-center">

  <div class="cell small-4">
    <img class="" src="{{root}}assets/img/ortho-info/aao.gif" alt="AAO">
    <a href="http://braces.org/" rel="external">American Association of Orthodontists (AAO)</a>
  </div>

  <div class="cell small-4">
    <img class="" src="{{root}}assets/img/ortho-info/ada.gif" alt="ADA">
    <a href="http://ada.org/" rel="external">American Dental Association (ADA)</a>
  </div>

  <div class="cell small-4">
    <img class="" src="{{root}}assets/img/ortho-info/invisalign.gif" alt="Invisalign"><br>
    <a href="http://invisalign.com/" rel="external">Invisalign®</a>
  </div>

</div>
