<div class="grid-x-space">

  <div class="article-outside-resources">
    <img src="{{root}}assets/img/ortho-info/resources.jpg" alt="Resources">
  </div>

  <div class="article-outside-resources">
    <img src="{{root}}assets/img/ortho-info/aao.gif" alt="AAO">
    <br>
    <a href="http://braces.org/" rel="external">American Association of Orthodontists (AAO)</a>
  </div>

  <div class="article-outside-resources">
    <img src="{{root}}assets/img/ortho-info/ada.gif" alt="ADA">
    <br>
    <a href="http://ada.org/" rel="external">American Dental Association (ADA)</a>
  </div>

  <div class="article-outside-resources">
    <img src="{{root}}assets/img/ortho-info/invisalign.gif" alt="Invisalign">
    <br>
    <a href="http://invisalign.com/" rel="external">Invisalign®</a>
  </div>

</div>
