<div class="grid-x-center">
  <div class="article-content-image">
    <img src={{root}}assets/img/patient-info/patient-forms.jpg alt="patient-forms">
  </div>

  <div class="article-content-partition">
    <p>Please take a minute to print and fill out the patient information form before your first appointment:</p>
    <div class="grid-x-left">
      <div class="patient-forms">
        <h4>English</h4>
        » <a href="{{root}}assets/docs/HealthHistory.pdf">Health History Form</a><br>
        » <a href="{{root}}assets/docs/adult-blank-hx.pdf">Adult Health History Form</a><br>
        » <a href="{{root}}assets/docs/child-blank-hx.pdf">Child Health History Form</a><br>
        » <a href="{{root}}assets/docs/tell-us-about-you.pdf">Tell Us About You</a><br>
        » <a href="{{root}}assets/docs/electronic-payment-authorization.pdf">Electronic Payment Authorization</a>
      </div>
      {{> spanish-patient-forms}}
    </div>
    <p>If you’re unable to read PDF files, you can download  <a href="https://get.adobe.com/reader/" target="_blank"> Acrobat Reader </a> for free from Adobe.</p>
  </div>

</div>
