<div class="article-headers">
  <div class="article-titles">
    <h2>Patient Forms</h2>
  </div>
  <div class="article-title-image">
    <img class="" src={{root}}assets/img/patient-info/patient-forms.jpg alt="patient-forms">
  </div>
</div>

<div class="grid-x-center">
  <div class="article-contents">
    <p>Please take a minute to print and fill out the patient information form before your first appointment:</p>
    <p>» <a href="{{root}}assets/docs/health-history.pdf">Health History Form</a><br>
    » <a href="{{root}}assets/docs/tell-us-about-you.pdf">Tell Us About You</a><br>
    » <a href="{{root}}assets/docs/electronic-payment-authorization.pdf">Electronic Payment Authorization</a></p>
    <p>If you’re unable to read PDF files, you can download Acrobat Reader for free from Adobe.</p>
  </div>
</div>
