<div class="grid-x-space team-callout">
  <div class="card-team-profile">
    <div class="card-team-profile-blank"></div>
    <div class="card-team-profile-content card-section">
      <div class="card-team-profile-avatar">
        <img src="{{root}}assets/img/headshots/stacy-thorn-25.jpg" alt="Profile photo of Stacy Jamison Thorn" />
      </div>
      <p class="card-team-profile-name">Stacy Jamison Thorn</p>
      <p class="card-team-profile-status">Practice Administrator</p>
      <p class="card-team-profile-info">Stacy has had a career in dentistry since 1994. She attended Ivy Tech and Indiana University Southeast. She is married to Brad and they have two boys Connor and Cooper. In her spare time she enjoys outdoor activities and any way she can be creative. Stacy also has a cat named Ruby. She loves orthodontics!!</p>
    </div>
  </div>
</div>

<!-- 
I can not say enough about these wonderful ladies! Everyone in this office goes out of their way to accommodate and make every visit easy! Thank you so much for treating everyone that walks in your office like they matter
-Beth

My daughter was seen today and started phase 1! Everyone is so nice at this office! I highly recommend Dr. Periago and her staff! Thank you for being awesome!
-Heather

When my daughter’s dentist referred her to an orthodontist I felt nothing but dread. Dread about the money, dread about how she was going to feel... Dread about everything.. I shouldn't have felt dread. All of the employees are wonderful and put her at ease. They have all been extremely kind and make you feel comfortable. They break down the cost into affordable payments which has been a major relief. I will refer this office to everyone who asks me.
-Amanda

Dr. Periago and her staff are wonderful! They are very friendly, knowledgeable, and very professional! Thanks for taking such great care of my daughter!!
-Andrea

When I realized my daughter needed braces, I asked many people who they recommended. Time and time again I was told "take her to Dr. Periago." So I did....I am so thankful I chose them, because from day one the entire staff made myself and my daughter Savannah so comfortable. Everyone in the office is so nice. Not to mention they seem like they just have fun working together. The whole atmosphere seems so inviting. Thanks to the entire staff for making our decision a great one
-Laura

My son has been going here for almost two years, and we have been very happy with his orthodontic treatment, the customer service, and the "chair side manor" of everyone here. Before starting his treatment, which has been pretty extensive and included surgery, he had a strong phobia of any medical care and appointments were difficult. Two years later at 17 he now drives himself to his appointments and has no anxiety. Consistently kind and gentle treatment has certainly helped him. The payment options they offer are so helpful as well.
-Elizabeth

We've been going to Periago Orthodontics for 2 years. They are the best! Great staff, great office, great atmosphere, and Dr. Periago is absolutely amazing! She put a plan together for my daughter's teeth and smile that is working wonderfully. My daughter actually looks foreword to going so that she can pick out new colors for her braces.
-Lewis
Had a great first visit today. Everyone was so upbeat and happy. Looking forward to my son getting braces next week. Such a good feeling to know that wonderful people will be going thru this stage of life with my family.
-Kimberly

Love these ladies! My 2nd just became braces free. I've been seeing these ladies for about 5 years... wow I will miss them! I can't say enough positive about our experience!
-Michelle

Love Dr. Periago. Amazing professionalism. Our family loves her and her incredible staff.
-Karen
 -->
