<div class="grid-x-center">
    <h2>Two-Phase Treatment</h2>
</div>

<div class="grid-x-left">
      
<h4>What is Two-Phase Orthodontic Treatment?</h4>

  <p>Two phase treatment is a specialized treatment process in which children receive orthodontic treatment<br>
  in two separate phases. The first phase of treatment occurs when the child still has multiple primary or<br>
  baby teeth present in the mouth. The second phase of treatment occurs when all permanent teeth have<br>
  erupted into the mouth (usually around age 11-13).</p>

  <h4>Why Does My Child Need Two Phase Treatment?</h4>
  <p>The major advantage of a two-phase treatment plan is to maximize the opportunity to accomplish an<br>
  ideal functional and aesthetic result that will result in a healthy stable bite for a lifetime. If Dr. Periago<br>
  has recommended two phase treatment for your child, she will have done so after thorough review of<br>
  orthodontic records including photos and digital x-rays. The major goal of this phase of treatment is to<br>
  create a better environment for your child’s permanent teeth…sometimes treatment at this time can<br>
  avoid growing problems in the development process.</p>

  <h4>Phase I Treatment:</h4>
  <p>A First Phase of Treatment is recommended by Dr. Periago in order to:</p>
  <ul>
    <li>Prevent a problem from occurring (preventive treatment)</li>
    <li>Intercept a developing problem (interceptive treatment)</li>
    <li>Guide the growth of the jaw bones that support the teeth (growth modification)</li>
  </ul>
  <p>The objective of first phase treatment is to develop the jaw size in order to accommodate all the<br>
  permanent teeth and to relate the upper and lower jaws to each other. If left alone, early orthodontic<br>
  tooth and skeletal problems can create an unhealthy environment for the growth and development of<br>
  your child’s teeth, gums, jaws and face. Phase I treatment is timed to predictable stages of dental<br>
  development to provide the greatest potential for improvement and correction of your child’s<br>
  malocclusion (bad bite).</p>

  <h4>Resting Period:</h4>
  <p>After phase one treatment is complete, Dr. Periago will continue to monitor your child at six month<br>
  intervals on our growth and guidance program. During this resting phase the permanent teeth are<br>
  allowed to erupt into the mouth. Retainers are sometimes indicated during this phase and sometimes<br>
  they are not. Dr. Periago will recommend whether your child should wear a retainer or if it is in his/her<br>
  best interest to go without. These observation appointments are important because they allow for<br>
  evaluation of your child’s dental development and the eruption of the remaining permanent teeth into<br>
  the mouth.</p>

  <h4>Phase II Treatment:</h4>
  <p>Most patients will require a second phase of treatment often with traditional braces to complete the<br>
  tooth and jaw alignment that was started during the first phase of treatment. The goal of this second<br>
  phase of treatment is to make sure that each tooth has an exact location in the mouth where it is in<br>
  harmony with the lips, cheeks, tongue, and other teeth. Many times this second phase of treatment is<br>
  shorter than what it would have been if phase I treatment would have not occurred.</p>

  <h4>How Do I know If Two-Phase Treatment is Right For My Child?</h4>
  <p>Orthodontic treatment is not a “one size fits all” approach. Each patient has a unique set of problems<br>
  which requires a unique treatment plan. Dr. Periago is committed to a full and individualized diagnosis<br>
  for each and every one of her patients. This diagnosis will determine which individualized and<br>
  customized treatment plan is best for your child. What is right for one child may not be right for<br>
  another. Dr. Periago will discuss your child’s problems set as well as what treatment modalities would<br>
  be best at your initial consultation.</p>

  <h4>POTENTIAL CANDIDATES FOR TWO PHASE TREATMENT</h4>

  <div style="max-width: 600px;" class="metaslider metaslider-nivo metaslider-47 ml-slider homepageslider">
      
    <div id="metaslider_container_47">
      <div class="slider-wrapper theme-default">
        <div class="ribbon"></div>
        <div id="metaslider_47" class="nivoSlider">
          <img src="http://www.periagoortho.com/wp-content/uploads/2015/06/crossbite-of-back-of-teeth-600x300.png" height="300" width="600" data-title="Crossbite of Back of Teeth" alt="crossbite of back of teeth" class="slider-47 slide-456" style="display: none;">
          <img src="http://www.periagoortho.com/wp-content/uploads/2015/06/Incisor-Crossbite-600x300.png" height="300" width="600" data-title="Incisor Crossbite" alt="Incisor Crossbite" class="slider-47 slide-457" style="width: 600px; visibility: hidden; display: inline;">
          <img src="http://www.periagoortho.com/wp-content/uploads/2015/06/open-bite-600x300.png" height="300" width="600" data-title="Open Bite" alt="open bite" class="slider-47 slide-458" style="width: 600px; visibility: hidden; display: inline;">
          <img src="http://www.periagoortho.com/wp-content/uploads/2015/06/overjet-600x300.png" height="300" width="600" data-title="OverJet" alt="overjet" class="slider-47 slide-459" style="display: none;">
          <img src="http://www.periagoortho.com/wp-content/uploads/2015/06/underbite-600x300.png" height="300" width="600" data-title="Underbite" alt="underbite" class="slider-47 slide-460" style="display: none;">
          <img class="nivo-main-image" src="http://www.periagoortho.com/wp-content/uploads/2015/06/Incisor-Crossbite-600x300.png" style="display: inline; height: 300px; overflow: hidden;">

          <div class="nivo-caption" style="display: block;">Incisor Crossbite</div>

          <div class="nivo-slice" name="0" style="left: 0px; width: 600px; height: 300px; opacity: 0; overflow: hidden;">
            <img src="http://www.periagoortho.com/wp-content/uploads/2015/06/open-bite-600x300.png" style="position:absolute; width:600px; height:auto; display:block !important; top:0; left:-0px;">
          </div>
          <div class="nivo-slice" name="1" style="left: 40px; width: 40px; height: 300px; opacity: 0; overflow: hidden;">
            <img src="http://www.periagoortho.com/wp-content/uploads/2015/06/open-bite-600x300.png" style="position:absolute; width:600px; height:auto; display:block !important; top:0; left:-40px;">
          </div>
          <div class="nivo-slice" name="2" style="left: 80px; width: 40px; height: 300px; opacity: 0; overflow: hidden;">
            <img src="http://www.periagoortho.com/wp-content/uploads/2015/06/open-bite-600x300.png" style="position:absolute; width:600px; height:auto; display:block !important; top:0; left:-80px;">
          </div>
          <div class="nivo-slice" name="3" style="left: 120px; width: 40px; height: 300px; opacity: 0; overflow: hidden;">
            <img src="http://www.periagoortho.com/wp-content/uploads/2015/06/open-bite-600x300.png" style="position:absolute; width:600px; height:auto; display:block !important; top:0; left:-120px;">
          </div>
          <div class="nivo-slice" name="4" style="left: 160px; width: 40px; height: 300px; opacity: 0; overflow: hidden;">
            <img src="http://www.periagoortho.com/wp-content/uploads/2015/06/open-bite-600x300.png" style="position:absolute; width:600px; height:auto; display:block !important; top:0; left:-160px;">
          </div>
          <div class="nivo-slice" name="5" style="left: 200px; width: 40px; height: 300px; opacity: 0; overflow: hidden;">
            <img src="http://www.periagoortho.com/wp-content/uploads/2015/06/open-bite-600x300.png" style="position:absolute; width:600px; height:auto; display:block !important; top:0; left:-200px;">
          </div>
          <div class="nivo-slice" name="6" style="left: 240px; width: 40px; height: 300px; opacity: 0; overflow: hidden;">
            <img src="http://www.periagoortho.com/wp-content/uploads/2015/06/open-bite-600x300.png" style="position:absolute; width:600px; height:auto; display:block !important; top:0; left:-240px;">
          </div>
          <div class="nivo-slice" name="7" style="left: 280px; width: 40px; height: 300px; opacity: 0; overflow: hidden;">
            <img src="http://www.periagoortho.com/wp-content/uploads/2015/06/open-bite-600x300.png" style="position:absolute; width:600px; height:auto; display:block !important; top:0; left:-280px;">
          </div>
          <div class="nivo-slice" name="8" style="left: 320px; width: 40px; height: 300px; opacity: 0; overflow: hidden;">
            <img src="http://www.periagoortho.com/wp-content/uploads/2015/06/open-bite-600x300.png" style="position:absolute; width:600px; height:auto; display:block !important; top:0; left:-320px;">
          </div>
          <div class="nivo-slice" name="9" style="left: 360px; width: 40px; height: 300px; opacity: 0; overflow: hidden;">
            <img src="http://www.periagoortho.com/wp-content/uploads/2015/06/open-bite-600x300.png" style="position:absolute; width:600px; height:auto; display:block !important; top:0; left:-360px;">
          </div>
          <div class="nivo-slice" name="10" style="left: 400px; width: 40px; height: 300px; opacity: 0; overflow: hidden;">
            <img src="http://www.periagoortho.com/wp-content/uploads/2015/06/open-bite-600x300.png" style="position:absolute; width:600px; height:auto; display:block !important; top:0; left:-400px;">
          </div>
          <div class="nivo-slice" name="11" style="left: 440px; width: 40px; height: 300px; opacity: 0; overflow: hidden;">
            <img src="http://www.periagoortho.com/wp-content/uploads/2015/06/open-bite-600x300.png" style="position:absolute; width:600px; height:auto; display:block !important; top:0; left:-440px;">
          </div>
          <div class="nivo-slice" name="12" style="left: 480px; width: 40px; height: 300px; opacity: 0; overflow: hidden;">
            <img src="http://www.periagoortho.com/wp-content/uploads/2015/06/open-bite-600x300.png" style="position:absolute; width:600px; height:auto; display:block !important; top:0; left:-480px;">
          </div>
          <div class="nivo-slice" name="13" style="left: 520px; width: 40px; height: 300px; opacity: 0; overflow: hidden;">
            <img src="http://www.periagoortho.com/wp-content/uploads/2015/06/open-bite-600x300.png" style="position:absolute; width:600px; height:auto; display:block !important; top:0; left:-520px;">
          </div>
          <div class="nivo-slice" name="14" style="left: 560px; width: 40px; height: 300px; opacity: 0; overflow: hidden;">
            <img src="http://www.periagoortho.com/wp-content/uploads/2015/06/open-bite-600x300.png" style="position:absolute; width:600px; height:auto; display:block !important; top:0; left:-560px;">
          </div>
        </div>
        <div class="nivo-controlNav">
          <a class="nivo-control" rel="0">1</a>
          <a class="nivo-control" rel="1">2</a>
          <a class="nivo-control" rel="2">3</a>
          <a class="nivo-control" rel="3">4</a>
          <a class="nivo-control" rel="4">5</a>
        </div>
      </div>      
    </div>

    <script type="text/javascript">
        var metaslider_47 = function($) {
            $('#metaslider_47').nivoSlider({ 
                boxCols:7,
                boxRows:5,
                pauseTime:5000,
                effect:"fade",
                controlNav:true,
                directionNav:false,
                pauseOnHover:true,
                animSpeed:2500,
                prevText:"&lt;",
                nextText:"&gt;",
                slices:15,
                manualAdvance:false
            });
        };
        var timer_metaslider_47 = function() {
            var slider = !window.jQuery ? window.setTimeout(timer_metaslider_47, 100) : !jQuery.isReady ? window.setTimeout(timer_metaslider_47, 1) : metaslider_47(window.jQuery);
        };
        timer_metaslider_47();
    </script>
  </div>
</div>
