<div class="grid-x-center">
  <div class="article-content-partition">
    <h4>What is Two-Phase Orthodontic Treatment?</h4>
    <p>Two phase treatment is a specialized treatment process in which children receive orthodontic treatment in two separate phases. The first phase of treatment occurs when the child still has multiple primary or baby teeth present in the mouth. The second phase of treatment occurs when all permanent teeth have erupted into the mouth (usually around age 11-13).</p>

    <h4>Why Does My Child Need Two Phase Treatment?</h4>
    <p>The major advantage of a two-phase treatment plan is to maximize the opportunity to accomplish an ideal functional and aesthetic result that will result in a healthy stable bite for a lifetime. If Dr. Periago has recommended two phase treatment for your child, she will have done so after thorough review of orthodontic records including photos and digital x-rays. The major goal of this phase of treatment is to create a better environment for your child’s permanent teeth…sometimes treatment at this time can avoid growing problems in the development process.</p>

    <h4>Phase I Treatment:</h4>
    <p>A First Phase of Treatment is recommended by Dr. Periago in order to:</p>
    <ul>
      <li>Prevent a problem from occurring (preventive treatment)</li>
      <li>Intercept a developing problem (interceptive treatment)</li>
      <li>Guide the growth of the jaw bones that support the teeth (growth modification)</li>
    </ul>
    <p>The objective of first phase treatment is to develop the jaw size in order to accommodate all the permanent teeth and to relate the upper and lower jaws to each other. If left alone, early orthodontic tooth and skeletal problems can create an unhealthy environment for the growth and development of your child’s teeth, gums, jaws and face. Phase I treatment is timed to predictable stages of dental development to provide the greatest potential for improvement and correction of your child’s malocclusion (bad bite).</p>

    <h4>Resting Period:</h4>
    <p>After phase one treatment is complete, Dr. Periago will continue to monitor your child at six month intervals on our growth and guidance program. During this resting phase the permanent teeth are allowed to erupt into the mouth. Retainers are sometimes indicated during this phase and sometimes they are not. Dr. Periago will recommend whether your child should wear a retainer or if it is in his/her best interest to go without. These observation appointments are important because they allow for evaluation of your child’s dental development and the eruption of the remaining permanent teeth into the mouth.</p>

    <h4>Phase II Treatment:</h4>
    <p>Most patients will require a second phase of treatment often with traditional braces to complete the tooth and jaw alignment that was started during the first phase of treatment. The goal of this second phase of treatment is to make sure that each tooth has an exact location in the mouth where it is in harmony with the lips, cheeks, tongue, and other teeth. Many times this second phase of treatment is shorter than what it would have been if phase I treatment would have not occurred.</p>

    <h4>How Do I know If Two-Phase Treatment is Right For My Child?</h4>
    <p>Orthodontic treatment is not a “one size fits all” approach. Each patient has a unique set of problems which requires a unique treatment plan. Dr. Periago is committed to a full and individualized diagnosis for each and every one of her patients. This diagnosis will determine which individualized and customized treatment plan is best for your child. What is right for one child may not be right for another. Dr. Periago will discuss your child’s problems set as well as what treatment modalities would be best at your initial consultation.</p>
  </div>
  <div class="article-content-image">
    <h5>Potential Candidates for<br>Two-Phase Treatment</h5>
    <div class="two-phase-image">
      <img src="{{root}}assets/img/images/crossbite-of-back-of-teeth.png" alt="crossbite of back of teeth">
      <p>Crossbite - Back of Teeth</p>
    </div>
    <div class="two-phase-image">
      <img src="{{root}}assets/img/images/Incisor-Crossbite.png" alt="Incisor Crossbite">
      <p>Incisor Crossbite</p>
    </div>
    <div class="two-phase-image">
      <img src="{{root}}assets/img/images/open-bite.png" alt="open bite">
      <p>Open Bite</p>
    </div>
    <div class="two-phase-image">
      <img src="{{root}}assets/img/images/overjet.png" alt="overjet">
      <p>Overjet</p>
    </div>
    <div class="two-phase-image">
      <img src="{{root}}assets/img/images/underbite.png" alt="underbite">
      <p>Underbite</p>
    </div>
  </div>
</div>
