<div class="grid-x-center">

  <div class="article-content-image">
    <img src="{{root}}assets/img/braces-101/Types-of-Braces-Image-Metal-Brackets.jpg" alt="traditional braces">
  </div>
  <div class="article-content-partition">
    <h4>Traditional Braces</h4>      
    <p>The most common and widely used brace is the traditional metal bracket, which is made of stainless steel and designed for predictable and optimized tooth movement. These brackets are low profile, very comfortable and can have colored ties added to them at every visit for a more colorful, fun and unique smile.</p>
  </div>

  <div class="article-content-image">
    <img src="{{root}}assets/img/braces-101/Ceramic-Brackets.jpg" alt="ceramic brackets">
  </div>
  <div class="article-content-partition">
    <h4>Esthetic Braces</h4>
    <p>Esthetic brackets are a great option for many adults and older teenagers.These brackets are clear and are made to blend in with the tooth, creating a more cosmetic look than traditional brackets. While these brackets are more visually pleasing, they do require increased care with oral hygiene as well as home maintenance because they are larger and more brittle.</p>
  </div>

  <div class="article-content-image">
    <img src="{{root}}assets/img/invisalign/Invisalign.jpg" alt="Invisalign">
  </div>
  <div class="article-content-partition">
    <h4>Invisible Braces</h4>
    <p>“Invisible Braces” such as Invisalign, are clear plastic aligners that prefabricated to incrementally move the teeth into a pre-determined position. These aligners can also be great alternatives to traditional brackets for older teenagers and adults looking for a more cosmetic route to straighten teeth. These aligners are not only invisible, but they are also removable which allows for easier brushing and flossing. Patients also love this option because the trays are comfortable and do not tend to irritate the mouth as much as traditional braces. Dr. Periago is a Preferred Invisalign Provider. Check out more information at www.invisalign.com</p>
  </div>
</div>
