<div  class="grid-x-left">
  <h3>What Sets Us Apart </h3>
</div>

<div class="grid-x-left">

  <h4 class="cell small-12">
    Why Choose Us?
  </h4>
  <p>Dr. Periago and her team work diligently to provide beautiful smiles and a memorable experience for you and your family. Our practice is proud to serve the people of our wonderful community, and we strive for excellence in all that we do to make sure that you not only achieve the smile of your dreams, but that you thoroughly enjoy yourself along the way!</p>
  <p>There are a few things that you should consider when choosing an orthodontist:</p>
  
  <h4 class="cell small-12">
    Is your doctor a licensed orthodontic specialist?
  </h4>
  <p>Did you know that legally a general dentist can also do orthodontics? Is your orthodontic treatment important enough to you that you would choose an office that has a university trained orthodontic specialist that has had an additional two years of training?</p>
  <p>Dr. Periago attended the University of Louisville School of Dentistry where she graduated in 2005 with highest honors, Summa Cum Laude. She was subsequently accepted into the orthodontic residency program at the University of Louisville, where she completed a two-year graduate degree specializing in orthodontics and dento-facial orthopedics. Upon completion of her orthodontic residency, Dr. Periago also received her master’s degree in Oral Biology with her research emphasis on three dimensional cone beam radiography in orthodontics. Dr. Periago’s research was accepted for publication and can be found in The Angle Orthodontist journal of orthodontics.</p>
  <p>While attending the University of Louisville School of Dentistry, Dr. Periago was recognized with various awards such as the American Academy of Oral Medicine Award, the American Academy of Oral and Maxillofacial Pathology Award, the Excellence in General Pathology Award, and a scholarship for her National Dental Boards Part I score. Dr. Periago was also a Dean’s scholar throughout her dental training and was inducted into the Delphi Society as well as the Omikron Kappa Upsilon dental honor society.</p>
  
  <h4 class="cell small-12">
    Does your doctor devise a customized treatment plan to meet your or your child’s individual needs?
  </h4>
  <p>Some orthodontists give you their treatment recommendations without taking the diagnostic tests (x-rays, photos and impressions of the teeth) that are necessary to plan treatment. There is no substitute for having all of the information that these records can provide, and taking shortcuts can lead to misdiagnosis resulting in compromised results and increased treatment time.</p>
  <p>Dr. Periago is committed to delivering the best orthodontic care possible, that’s why she invests in state of the art technology and continues to further her orthodontic knowledge through continuing education. Dr. Periago will always do her due diligence before giving her final treatment recommendations by thoroughly reviewing each patients’ diagnostic tests before devising a customized treatment plan. By doing this, Dr. Periago creates a course of treatment that is unique for each patient resulting in the best and most efficient treatment possible.</p>
  
  <h4 class="cell small-12">
    Are you interested in the Invisalign System? Is your doctor a Certified Preferred Invisalign Provider?
  </h4>
  <p>In addition to traditional braces for children, teens and adults, we are also proud to offer Invisalign, Invisalign Teen and Invisalign Express. Dr. Periago has extensive experience using the Invisalign system. As an Invisalign Preferred Provide, Dr. Periago is uniquely qualified to determine if it is a good option for your overall best treatment outcome. Because of her experience, Dr. Periago is comfortable taking on challenging cases using Invisalign or a combination approach using both Invisalign and traditional braces.</p>
  
  <h4 class="cell small-12">
    What do your friends and family say about their orthodontic experience?
  </h4>
  <p>Why do patients love Periago Orthodontics? It’s because our patients are our number one priority!</p>
  <ul>
    <li>At Periago Orthodontics we are committed to providing all of our patients and family members with the warmest, friendliest, and most exceptional orthodontic experience possible!</li>
    <li>At Periago Orthodontics you will receive outstanding and individually customized orthodontic treatment. As no two people are alike, no two mouths are alike. Every patient has a thoroughly studied, well diagnosed and individually tailored treatment plan.</li>
    <li>At Periago Orthodontics we go beyond the golden rule. We always strive to treat everyone in the exact manner that we would want ourselves and our children to be treated.</li>
    <li>At Periago Orthodontics we think of ourselves as one big family and continually excel at making all of our patients and their family (and even friends!) , feel like a part of the family, not outsiders.</li>
    <li>At Periago Orthodontics you are not just another number. You will always be called by name and will be treated as the unique person that you are with individual needs and feelings.</li>
  </ul>
  <p>Periago Orthodontics is a comfortable, warm and inviting practice that our patients and their family and friends love to visit. Our doctor and staff truly care about the people we serve and we take the time to make you feel at ease while welcoming you into our family of patients. Kids love the fun and laid back atmosphere of the office as well as our super cool contests, while adult patients and parents appreciate our commitment to providing unique and unparalleled orthodontic treatment and customer service. Contact us today to see how we can make your orthodontic experience truly exceptional!</p>
</div>
